<div class="posts-index">
  <div class="container">
    <div class="post-item-box">
      <% if @user.avatar_id.present? %>
      <div class="user-photo">
        <%= image_tag attachment_url(@user, :avatar, :fill, 200, 200, format: "jpg"), class: 'user-image' %>
     </div>
     <% else %>
     <div class="user-photo">
        <%= image_tag('/images/default.jpeg', size: '200x200', class: 'user-image') %>
     </div>
     <% end %>
     <div class="username-show">
      <h1><%= @user.username %></h1>
     </div>
     <div class="username-show">
       <%= link_to "フォロー中のユーザ一覧", show_follower_user_path(@user.id) %>
     </div>

     <%= render 'follow_form' %>

     <div class="profile-show">
       <%= @user.profile %>
     </div>
     <%= render 'nav' %>
    </div>
  </div>
</div>
