<h1><%= @user.username %></h1>

<% if @user.avatar_id.present? %>
<%= image_tag attachment_url(@user, :avatar, :fill, 350, 250, format: "jpg") %>
<% end %>
<% @user.posts.each do |post| %>
<%= link_to post do %>
<div class="col-md-4">
  <ul>
    <li>タイトル：<%= post.title %></li>
    <li>投稿日：<%= post.created_at.strftime("%Y年%m月%d日") %></li>
  </ul>
  </div>
  <% end %>
<% end %>
