<h2>パスワードの再設定</h2>
<p>パスワード再設定ページのリンクを入力されたメールアドレス宛に送信いたします。<br>
メールアドレスを入力し【パスワード再設定リンクを受け取る】を押してください。</p>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "パスワード再設定リンクを受け取る" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
