<div class="posts-index">
  <div class="container">
    <div class="post-item-box">
      <div class="col-md-12">
        <h1><i class="far fa-edit"></i>投稿の編集</h1>
        <div class="new-post">
          <%= form_for @post do |f|%>
          <div class="form-group">
            <%= f.label :title, "タイトル" %>
            <%= f.text_field :title, autofocus: true, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :title, "本文" %>
            <%= f.text_area :body, rows: 8, autofocus: true, class: "form-control" %>
          </div>
          <div class="form-group">
            <i class="fas fa-camera"></i><%= f.label :title, "画像の挿入・変更", class: "post-image-title" %><br>
            <%= f.attachment_field :image, class: "post-image" %>
          </div>
          <%= f.submit '投稿内容を変更する', class: "btn btn-success btn-block" %>
          <% end %>
        </div>
     </div>
   </div>
</div>
