<div class="posts-index">
 <div class="container">
  <div class="post-item-box">
      <% @posts.each do |post| %>
      <%= link_to post do %>
      <div class="post-item post-list">
        <% if post.user.avatar_id.present? %>
        <%= image_tag attachment_url(@user, :avatar, :fill, 50, 50, format: "jpg"), class: 'user-img' %>
        <% else %>
        <%= image_tag('/images/default.jpeg', size: '50x50', class: 'user-img') %>
        <% end %>
       <div class="post-body">
         <div class="post-title">
           <%= post.title %>
         </div>
         <% end %>
         <div class="post-menu">
           <%= link_to post.user.username, user_path(post.user.id), class:'post-user' %>
           <%= post.created_at.strftime("%Y年%m月%d日") %>
           <% if current_user.already_favorited?(post) %>
           <span class="fas fa-thumbs-up like-btn-unlike"></span>
           <% else %>
           <span class="far fa-thumbs-up like-btn"></span>
           <% end %>
           <%= post.favorites.count %>
         </div>
        </div>
      </div>
        <% end %>
  <%= paginate @posts %>
  </div>
 </div>
</div>
