<div class="posts-index">
  <div class="container">
    <div class="post-item-box">
      <div class="col-md-12">
        <div class="post-show-user">
          <% if @post.user.avatar_id.present? %>
            <%= image_tag attachment_url(@user, :avatar, :fill, 50, 50, format: "jpg"), class: 'user-img' %>
          <% else %>
            <%= image_tag('/images/default.jpeg', size: '50x50', class: 'user-img') %>
          <% end %>
          <div class="post-username">
            <%= link_to @user.username, user_path(@user.id) %>
            <div class="post-time">
              <%= @post.created_at.strftime("%Y年%m月%d日") %>
            </div>
            <%= render 'posts/like' %>
          </div>
        </div>
        <div class="post-show-title">
        <h2><%= @post.title %></h2>
        </div>
        <h3>案件の詳細</h3>
        <% if @post.image_id.present? %>
        <div class="post-img">
          <%= image_tag attachment_url(@post, :image, :fill, 350, 250, format: "jpg"), class: 'post-photo' %>
          </div>
        <% end %>
        <div class="post-body">
        <p><%= simple_format @post.body %></p>
        </div>
        <% if @post.user_id == current_user.id %>
        <div class="post-change">
          <%= link_to '案件を編集', edit_post_path(@post), class: "btn btn-info btn-md" %>
          <%= link_to '案件を削除', post_path(@post.id), method: :delete, data: { confirm: "投稿を削除しますか？この操作は取り消せません。"}, class: "btn btn-danger btn-md" %>
        <% end %>
        </div>
          <div class="comment-form">
            <%= render 'posts/comment' %>
            <%= render 'posts/comment_form' %>
          </div>
      </div>
    </div>
  </div>
</div>
